---
layout: guide-content
title: 代表的な配色用語

grades: ["2"]
basic: true

draft: true
---

## :WithGradeTag[ドミナント配色]{grades="2"}

::ComingSoon

## :WithGradeTag[色相かトーンの統一]{grades="2"}

::ComingSoon

## :WithGradeTag[中間色による配色]{grades="2"}

::ComingSoon

## :WithGradeTag[色を近似させた配色]{grades="2"}

::ComingSoon

## :WithGradeTag[明快な配色]{grades="2"}

::ComingSoon
