---
layout: guide-content
title: 実世界でみられる混色

grades: ["3"]

draft: true
---

<script>
  import SVGWrapper from '$lib/demo/SVGWrapper.svelte'
  import CMYKHalftone from '$lib/demo/color-mixing/CMYKHalftone.svelte'
</script>

## :WithGradeTag[カラーモニタ]{grades="3"}

::ComingSoon

## :WithGradeTag[カラー印刷]{grades="3"}

<SVGWrapper maxW={250}>
  <CMYKHalftone />
</SVGWrapper>

## :WithGradeTag[織物]{grades="3"}

::ComingSoon

## :WithGradeTag[絵の具]{grades="3"}

::ComingSoon
