---
layout: guide-content
title: 色差と均等色空間

grades: ["1"]

draft: true
---

- [xy色度図](/color-theory/xy-chromaticity-diagram/)上の:Mark[色度]の差と、:Mark[知覚]的な色の差は、必ずしも一致しているとは限らない
- つまり、xy色度図では、見た目の色の違いを判断できない

## :WithGradeTag[マックアダム楕円]{grades="1"}

- xy色度図上での距離と知覚的な色の不一致性を[等色実験](/color-theory/color-matching-and-grassmanns-law/)で明らかにしたのが:Mark[マックアダム]
- xy色度図上では同じ距離であっても、見た目の差は色の領域によって異なることを:Mark[マックアダム楕円]（:Mark[マックアダム偏差長円]とも呼ばれる）で示した

:::Todo
xy色度図上にマックアダム楕円を描いた図（各楕円内には楕円の長軸と短軸を描く）
:::

:::Note
実際のマックアダム楕円は小さすぎて見えないため、図では10倍に拡大して描いている
:::

- 着想としては、xy色度図上に基準色を置き、「基準色と見分けがつかない色の範囲」を丸で囲んでいく
- しかし、マックアダムによる等色実験の結果、その「見分けがつかない」範囲は、楕円になってしまった
- 楕円内の色は、十字印の中央の色（基準色）とほぼ同じに見える
- 楕円は、ある方向には短く、ある方向には長く伸びた形になる
  - 短い方向：少し色が変わるだけで違いが分かる
  - 長い方向：かなり色が変わっても違いが分かりにくい

## :WithGradeTag[色差の表示と均等色空間]{grades="1"}

- 見た目の色の違いと、色空間上の距離が一致すると便利
- そこで、[XYZ表色系](/color-theory/xyz-color-system/)を変換して、:Mark[均等色空間]（:Mark[UCS]：Uniform Color Space）がつくられた
- 均等色空間は、知覚的に同じ色の差であれば、どの色の領域でもほぼ一定の距離で示され、明るさの差も知覚的な明度差に対応している
- :Mark[L\*u\*v\*色空間]や:Mark[L\*a\*b\*色空間]など、さまざまな均等色空間があるが、産業界で一般的に使われているのは:Mark[L\*a\*b\*]色空間
