---
layout: guide-content
title: 測光量と放射量

grades: ["1"]

draft: true
---

## :WithGradeTag[心理量と心理物理量]{grades="1"}

- 「明るさ」は人間の感覚に対応した:Mark[心理量]である
- 心理量を物理的に測定し、数量化したものを:Mark[心理物理量]という
- 照度、光束、光度、輝度は心理物理量である

