---
layout: guide-content
title: ファッションイメージ

grades: ["2"]

draft: true
---

- ファッションアイテムやファッショングッズは、カラー・マテリアル・デザインの3つの要素を組み合わせて考える
- そして、ファッションアイテムやファッショングッズの組み合わせ（スタイリング）によって、ファッション全体のイメージが作られる

## :WithGradeTag[イメージの6分類]{grades="2"}

- ファッションのイメージは人によっても異なる感覚的なものであり、明確な境界はない
- しかし、基本的な6分類を考えることで、イメージを比較して特徴を捉えやすくなる

::::CardGrid{cols="1"}
:::TermCard{title="エレガント" ankiTitle="show"}
「:Anki[上品]」「:Anki[優雅]」といった意味をもつ
洗練された:Anki[柔らか]な雰囲気と:Anki[上品]な落ち着きがあり、:Anki[高級感]も重要な要素となる
使われるカラーは:Anki[グレイッシュ]なカラーや:Anki[ltg]トーンのパステルカラーが代表的
:::
:::TermCard{title="ロマンチック" ankiTitle="show"}
:Anki[フリル]や:Anki[リボン]などの装飾がついた、子どものような愛らしさをもつかわいいファッション
使われるカラーは、:Anki[p]トーン・:Anki[lt]トーンのパステルカラー、:Anki[スイーツ]などのイメージで使われる:Anki[b]トーンが代表的
:::
:::TermCard{title="エスニック" ankiTitle="show"}
「:Anki[素朴]」「:Anki[土着]的」といった意味をもつ
:Anki[キリスト]教以外の国の民族服がデザインソース
アメリカやイギリスの:Anki[田園]生活のイメージとして、:Anki[カントリー]と言い換えられることもある
使われるカラーは、料理のスパイスに見られる:Anki[スパイシー]カラー、:Anki[エチオピア]国旗の配色をもとにした:Anki[赤]・:Anki[黄]・:Anki[緑]、:Anki[自然]や:Anki[熱帯]の国をイメージする:Anki[黒]や:Anki[ナチュラル]カラーなど
:::
:::TermCard{title="スポーツ" ankiTitle="show"}
スポーツウェアなど:Anki[機能]的なデザインを取り入れたファッションがもつ、:Anki[活動]的なイメージ
使われるカラーは、:Anki[ビビッド]カラーや、コントラストのある:Anki[バイカラー]配色（2色配色）など
中でも、ストリートスタイルでは:Anki[ダーク]カラーを使ったものもある
:::
:::TermCard{title="マニッシュ" ankiTitle="show"}
「:Anki[男性]的」という意味をもつ
メンズスーツなどの:Anki[パンツ]スタイルを基本に、男性的なアイテムのデザインを女性が取り入れたもの
使われるカラーは、:Anki[ネイビーブルー]などの:Anki[ダーク]カラーが代表的
:::
:::TermCard{title="アーバン" ankiTitle="show"}
「:Anki[都会]的」という意味をもつ
:Anki[オフィシャル]な場で、大人の女性が選ぶスタイリング
洗練されていることを表す:Anki[ソフィスティケート]と言い換えられることもある
使われるカラーは、:Anki[黒]、:Anki[紺]、アスファルトのイメージである:Anki[グレイ]、洗練された:Anki[ベージュ]など、:Anki[ベーシック]カラーが中心
:::
::::

## :WithGradeTag[ポジショニングマップ]{grades="2"}

- 6分類のイメージの対極関係と隣接関係を把握するには、:Anki[ポジショニングマップ]が便利

TODO：ポジショニングマップの図
