---
layout: guide-content
title: 眼の構造

grades: ["3", "uc"]
---

## :WithGradeTag[黒目の部位]{grades="3,uc"}

黒目を見ると、真ん中に特に色が暗い部分があります。
この真ん中の暗い円を:Anki[瞳孔]といい、その周りを:Anki[虹彩]といいます。

瞳孔は、:Anki[明るい]ときは小さくなり、:Anki[暗い]ときは大きくなります。
このように瞳孔の大きさを変えることで、眼に入る光の量を調節しています。この調節は、:Anki[虹彩]が伸び縮みすることで行われます。

黒目の部分は:Anki[角膜]で覆われており、その内部には:Anki[水晶体]があります。
:Anki[虹彩]は角膜と水晶体の間にあり、:Anki[瞳孔]は虹彩の中心に空いている円形の孔（あな）であるため、特に暗く見えるのです。

## :WithGradeTag[眼球の三層構造]{grades="3,uc"}

白目の部分は、一番外側から:Anki[強膜]、:Anki[脈絡膜]、:Anki[網膜]という三層構造になっています。

- :Anki[強膜]は眼球の一番外側の層で、硬い殻の役割を果たしている
- :Anki[脈絡膜]には血管が通っており、眼球全体に栄養分を補給するための層である
- :Anki[網膜]は像を結ぶ部分で、:Anki[視細胞]をはじめとする様々な神経細胞で構成されている

これらの層に覆われた、眼球内部の大部分を占める無色透明のゼリー状の物体は:Anki[硝子体]と呼ばれます。

## :WithGradeTag[眼に入った光の屈折]{grades="3,uc"}

眼に入った光は、:Anki[角膜]、:Anki[瞳孔]、:Anki[水晶体]を順に通過して、:Anki[網膜]に到達します。

1. :Anki[角膜]での屈折により光を集める
2. :Anki[瞳孔]を通る際に、その周りの:Anki[虹彩]が伸び縮みすることで瞳孔の大きさを変え、光の量を調節する
3. :Anki[水晶体]でさらに屈折して、:Anki[網膜]に焦点を合わせる

眼においては、:Anki[水晶体]がカメラのレンズ、:Anki[網膜]がカメラのフィルムのような役割を果たします。

## :WithGradeTag[ピントを合わせる仕組み]{grades="3,uc"}

眼におけるレンズのピント合わせは、:Anki[水晶体]の厚みを変えることで行われます。
水晶体は近くを見る時には:Anki[厚く]、遠くを見る時には:Anki[薄く]なります。

水晶体の周りを取り囲んでいる組織は:Anki[毛様体]と呼ばれます。
毛様体の基部（付け根の部分）には:Anki[毛様体筋]という筋肉があり、この筋肉が収縮・弛緩することで、:Anki[毛様小帯]を介して水晶体の厚みを変化させ、ピントを合わせます。

:Anki[毛様小帯]は、水晶体と毛様体をつなぐ細い線維であり、水晶体の周囲を引っ張っています。
毛様小帯の緊張（引っ張る力）が強いと水晶体は薄くなり、緊張が弱いと水晶体は厚くなります。この緊張を調節しているのが:Anki[毛様体筋]です。

## :WithGradeTag[網膜の部位]{grades="3,uc"}

瞳孔側から眼の内部を覗いた写真は:Anki[眼底写真]と呼ばれます。
眼底写真に映る網膜の中心部には:Anki[黄斑]があり、黄斑の中心にある小さな窪みを:Anki[中心窩]といいます。

:Anki[黄斑]には血液が多く集まっているため、眼底写真では丸く濃く映ります。

:Anki[中心窩]は、網膜の中でも特に視細胞が密集している部分で、視力の中心となる場所です。
網膜の中でも解像度が最も高く、色や形がよく見えます。
小さく窪んでいるのは、視細胞が密集しているために、網膜の他の部分よりも薄くなっているからです。

## :WithGradeTag[視神経]{grades="3,uc"}

網膜の情報を脳へと伝達する神経を:Anki[視神経]といい、視神経の束は:Anki[視神経乳頭]と呼ばれる部位から眼球の外へと繋がっています。

:Anki[視神経乳頭]には視細胞が存在しないため、ここに像が結ばれても何も見えません。
この意味で、視神経乳頭は:Anki[盲点]ともよばれます。
