---
layout: guide-content
title: トーナル配色

grades: ["2"]
visual: true
---

<script>
  import AnalyzedPalette from '$lib/demo/color/color-palette/AnalyzedPalette.svelte'
</script>

## :WithGradeTag[トーナル配色]{grades="2"}

トーナル配色は、:Anki[中間色]トーンだけを組み合わせて作る配色です。

中間色トーンのうち、彩度の高い:Anki[s]トーンを除く、低・中彩度のトーン（:Anki[d]トーン、:Anki[sf]トーン、:Anki[g]トーン、:Anki[ltg]トーン）だけを使います。
中でも、「くすんだ」イメージをもつ:Anki[d]トーンを中心とした配色が典型的です。

:Anki[色相]は自由に選ぶことができます。そもそも、低・中彩度色だけの組み合わせなので、色相はあまり強調されません。
コントラストが弱く、中間色のもつ「:Anki[穏やか]」「:Anki[控えめ]」といったイメージが打ち出された、落ち着いたイメージの強い配色になります。

また、トーナル配色は、近いトーンでまとめる:Anki[ドミナントトーン]配色（:Anki[トーンイントーン]配色）の一種と考えることができます。

:::Action
トーン図上で、真ん中付近にあるトーンが使われていることに注目しよう
:::

::::CardGrid{lastWide}
:::TermCard
<AnalyzedPalette pccs={["ltg10", "sf10", "d10", "g10"]} />
:::
:::TermCard
<AnalyzedPalette pccs={["sf16", "g8", "d8", "d18"]} />
:::
:::TermCard
<AnalyzedPalette pccs={["ltg8", "g12", "d4"]} />
:::
:::TermCard
<AnalyzedPalette pccs={["sf6", "d6"]} />
:::
:::TermCard
<AnalyzedPalette pccs={["ltGy", "ltg6", "g6", "g8", "g12"]} />
:::
::::
