---
layout: guide-content
title: 色の連想と象徴性

grades: ["3"]

draft: true
---

## :WithGradeTag[TODO]{grades="3"}

- ある色を見て、それと関連する物やイメージを思い浮かべることを:Mark[色の連想]という
- 色が特定の概念と結び付けられ、広く一般化した色の連想は:Mark[色の象徴性]と呼ばれる
- 「男子トイレが青、女子トイレが赤」も色の象徴性の例だが、世界共通ではない。色の連想や象徴性は、文化や社会、時代によって違いがある
- 企業の理念や業務内容などを内外に印象づける:Mark[コーポレートカラー]も、色の連想を応用したものになっている
- 色の連想は企業活動や商品戦略にも関わっている
