---
layout: guide-content
title: 反対色応答と色の識別

grades: ["uc"]

draft: true
---

## :WithGradeTag[TODO]{grades="uc"}

- 段階説では、L錐体とM錐体からの応答結果の:Mark[和]で、明るさとその度合いを判断する
- 段階説では、L錐体とM錐体からの応答結果の:Mark[差]で、赤か緑か、赤みの強さ、緑みの強さを判断する。そのため、どちらか一方の錐体が十分に機能しない場合、赤と緑の両方が識別しづらくなる
