---
layout: guide-content
title: 景観法

grades: ["1"]

draft: true
---

## :WithGradeTag[景観法の主な内容]{grades="1"}

- 景観法は、:Mark[2004]年に制定された、日本初の景観に関する総合的な法律
- [良い景観は国民共通の資産](/color-fields/landscape-color-approach/)として位置付け、景観づくりに関する:Mark[住民]・事業者・:Mark[行政]の責務を明確にしている
- 景観法は、主に次について述べている
  - 身近な生活環境における良好な:Mark[景観形成]
  - 各:Mark[自治体]が設定する景観形成:Mark[基準]
  - 強制力をもつ:Mark[法的規制]

::::CardGrid{cols=1}
:::TermCard{title="身近な生活環境における良好な景観形成"}
景観法は、:Mark[歴史]的な街並みや国立公園の:Mark[自然]地など、保護対象としてその価値が認められている景観だけでなく、生活環境における:Mark[身近]な景観も対象としている
:::
:::TermCard{title="各自治体が設定する景観形成基準"}
:Mark[地域]の個性を生かした景観づくりができるよう、景観形成基準は全国一律ではなく、各自治体が:Mark[条例]で柔軟に定めることができる
:::
:::TermCard{title="強制力をもつ法的規制"}
景観法による景観形成基準に従わない事業者等は、:Mark[法的強制力]をもつ変更命令等の対象となることがある
:::
::::
