---
layout: guide-content
title: 統一と変化の調和

grades: ["3"]
---

## :WithGradeTag[配色における調和]{grades="3"}

2色以上の色を組み合わせる:Mark[配色]では、配色に一定のルールを与え:Mark[調和]を生み出すことができます。

- :Mark[統一]の配色：まとまりを感じさせる配色
- :Mark[変化]の配色：コントラストや:Mark[強さ]を感じさせる配色

統一の配色は、色相やトーンに:Mark[共通]性を持たせることで実現できます。
変化の配色は、色相やトーンに:Mark[対照]性を持たせることで実現できます。

:Mark[調和]とは、この統一と変化のバランスをとることです。
