---
layout: guide-content
title: 色の好み

grades: ["2"]

draft: true
---

## :WithGradeTag[色嗜好]{grades="2"}

- 製品のデザインや質感などの影響は考えず、色から直接的に受ける雰囲気への好みのことを:Mark[色嗜好]という
- 色嗜好とは、好きな色と嫌いな色、つまり「色の好み」のことである
- このうち、好きな色は:Mark[嗜好色]、嫌いな色は:Mark[嫌悪色]と呼ばれる

## :WithGradeTag[世界で好まれる色]{grades="2"}

- 人々が何色を好むかは、世界各地で調査されてきた
- イギリスの心理学者:Mark[アイゼンク]は、1930年代より前に世界中で行われた調査データを集計し、1941年に、色は次の順に好まれる傾向があると結論づけた
- :Mark[青] -> :Mark[赤] -> :Mark[緑] -> :Mark[菫] -> :Mark[橙] -> :Mark[黄]

:::Note
菫は:Mark[すみれ]と読み、紫色の花の名前である
:::

:::Todo
青、赤、緑、菫、橙、黄の色プレビュー
:::

- 1994年には日本で、2010年にはアメリカで行われた色嗜好調査でも、特に:Mark[青]が好まれると報告されている
- そのため、比較的世界中で好まれる色は:Mark[青]だといえる

## :WithGradeTag[日本で好まれる色]{grades="2"}

- 日本では、1994年に:Mark[日本色彩研究所]による色嗜好調査が行われた

::ComingSoon
