---
layout: guide-content
title: プライベート空間の配色

grades: ["2"]

draft: true
---

## :WithGradeTag[ベッドルーム]{grades="2"}

- ベッドルームは、睡眠や休息の場であり、眠りにつく前にくつろいだりもするため、刺激的な:Mark[高彩度]色や:Mark[対比]の強い色を大面積に用いることは避ける
- ベッドルームでは、:Mark[彩度]を抑えた:Mark[素材]感のある色にしたり、低・中:Mark[彩度]の色のファブリックを用いたりすると、落ち着いた雰囲気を得ることができる
- 小物などで個人の:Mark[好み]を反映した演出も可能である

## :WithGradeTag[子ども部屋]{grades="2"}

- 子ども部屋は、:Mark[年齢]によって求められる雰囲気が異なる
- 遊びが中心である幼年期は:Mark[ビビッド]な色を、勉強の割合が高まる高学年は:Mark[彩度]を抑えた色彩にすると効果的である
