---
layout: guide-content
title: シュヴルールの色彩調和論

grades: ["1"]
draft: true
---

## :WithGradeTag[類似の調和と対比の調和]{grades="1"}

:Mark[シュヴルール]は、:Mark[色相]と:Mark[色調]（トーン）による調和の概念を導入しました。

彼が展開した色彩調和の原理は、まず:Mark[対比]の大小によって「:Mark[類似]色の調和」と「:Mark[対比]の調和」に分けられ、さらに色相と色調の差によって3種類ずつの、合計6種類に分類されています。

### 類似色の調和

### 対比の調和
