---
layout: guide-content
title: 照明設計

grades: ["2"]

draft: true
---

## :WithGradeTag[照明設計と照度]{grades="2"}

- 場所の利用目的に応じて、安全・快適に活動できるような照明環境を計画することを:Mark[照明設計]という
- :Mark[照度]は照明設計の基本となるものであるため、:Mark[JIS]によって、場所・作業内容ごとに推奨照度が規定されている
- 満月の月明かりは:Mark[0.1]lx、夜間の街灯は:Mark[1]lx、道路灯は:Mark[10]lx、手元灯は:Mark[100]lxがおおよその照度となっている
- 屋外の照度は、人工光源と比べてとても高いのが特徴である。昼間なら、雨天でも:Mark[1000]lx程度、曇天で約:Mark[1万]lx、晴天では:Mark[10万]lxになる
