---
layout: guide-content
title: マンセル表色系

grades: ["2"]
visual: true
---

<script>
  import SVGWrapper from '$lib/demo/SVGWrapper.svelte'
  import CanvasWrapper from '$lib/demo/CanvasWrapper.svelte'
  import MunsellPrimaryHueWheel from '$lib/demo/color/munsell/MunsellPrimaryHueWheel.svelte'
  import MunsellTenHueWheel from '$lib/demo/color/munsell/MunsellTenHueWheel.svelte'
  import MunsellHueWheel from '$lib/demo/color/munsell/MunsellHueWheel.svelte'
  import MunsellHueWithPCCSHue from '$lib/demo/color/munsell/MunsellHueWithPCCSHue.svelte'
  import MunsellValue5Plane from '$lib/demo/color/munsell/MunsellValue5Plane.svelte'
  import MunsellColorSolid3D from '$lib/demo/color/munsell/MunsellColorSolid3D.svelte'
</script>

マンセル表色系は、国際的に使われている表色系の一つで、日本でも産業界や学術研究などの分野で使われています。

その原型は、アメリカの画家で美術教育家である:Anki[アルバート・マンセル]によって考案されました。
のちに:Anki[アメリカ光学会]（:Anki[OSA]）によって、光学的な測定をもとにすべての色票が均等な間隔になるよう調整され、これはマンセルが作ったオリジナル版と区別して:Anki[修正マンセル表色系]と呼ばれます。（現在では、単にマンセル表色系といえば修正後のものを指します。）

## :WithGradeTag[マンセル色相環]{grades="2"}

マンセル表色系では、色相は:Anki[Hue]と呼ばれます。

色相はマンセルが基本色として選んだ:Anki[Red]、:Anki[Yellow]、:Anki[Green]、:Anki[Blue]、:Anki[Purple]の5色を:Anki[原色]（:Anki[一次色]）とし、これらはそれぞれの頭文字をとって:Anki[R]・:Anki[Y]・:Anki[G]・:Anki[B]・:Anki[P]と表示されます。
この5色に、それぞれの:Anki[中間色相]である:Anki[YR]・:Anki[GY]・:Anki[BG]・:Anki[PB]・:Anki[RP]を加えた10色が、色相を表すための記号となります。

:::Note
中間色相を表す記号は、両隣の原色の頭文字を:Anki[反時計]回りに組み合わせたものになっています。
たとえば、RとPの中間色相は:Anki[RP]、YとRの中間色相は:Anki[YR]です。
:::

::::CardGrid
:::TermCard{title="5つの原色" icon="1"}
<SVGWrapper maxW={380}>
  <MunsellPrimaryHueWheel />
</SVGWrapper>
:::
:::TermCard{title="中間色相を加えた10色相" icon="2"}
<SVGWrapper maxW={380}>
  <MunsellTenHueWheel />
</SVGWrapper>
::::

この10色相をさらに10分割すると、100色相を表すことができます。

分割した色みの違いは、色相のアルファベットの前に:Anki[0]より大きい:Anki[10]以下の数字をつけて表します。
各色相を10分割して番号を振っているため、各色相の中心は:Anki[5]となり、この:Anki[5]がついた色相がそれぞれの色相を代表します。

:::Example
Yの色相では、:Anki[5Y]が代表色相です。
:::

<SVGWrapper>
  <MunsellHueWheel />
</SVGWrapper>

マンセル表色系の色相環では、:Anki[時計]回りに数字が大きくなっていることがわかります。

:::Example
Yの色相では、数字が小さいほど:Anki[YR]寄りの色に、逆に数字が大きいほど:Anki[GY]寄りの色となります。
:::

また、マンセル表色系では:Anki[0]を使った色相表示はしないため、たとえば`0Y`の色相であれば、:Anki[10]のつく隣の記号を使って:Anki[10YR]と表示することになります。

さらに細かく色相を表すときは、2.5YRのように小数点以下の数字で表すこともできます。

## :WithGradeTag[マンセル色相とPCCS]{grades="2"}

マンセル表色系の色相を表す記号は、あくまでも光学的に均等になるように割り振った記号であり、実際の色の印象と記号が一致していない部分もあります。

[PCCS](/color-theory/pccs-color-system/)との色みのずれは、特に:Anki[青]系の色で顕著に感じられます。たとえば、マンセル表色系の青の代表色相:Anki[5B]は、純粋な青というより緑みの青に見え、PCCSでは:Anki[16：gB]に対応します。

<SVGWrapper>
  <MunsellHueWithPCCSHue />
</SVGWrapper>

## :WithGradeTag[マンセル表色系の明度]{grades="2"}

マンセル表色系では、明度を:Anki[Value]と呼びます。

光を100%反射する理想的な白の明度を:Anki[10]、光を100%吸収する理想的な黒の明度を:Anki[0]として、その間に明るさが均等に変化する:Anki[9]色の灰色を置くことで、明度を段階に分けて表します。

しかし、理想的な白と理想的な黒は、実際につくることはできません。そのため、色票では最も明るい色を明度:Anki[9.5]、最も暗い色を明度:Anki[1.0]としています。

## :WithGradeTag[マンセル表色系の彩度]{grades="2"}

マンセル表色系では、彩度を:Anki[Chroma]と呼びます。
これは、無彩色を:Anki[0]として、無彩色からどれだけ離れているか？という段階を表す数値です。

PCCSでは最高彩度の値は`9s`で統一されていましたが、マンセル表色系では、実際に色票で実現できる色を最高彩度の値として定めています。
そのため、:Anki[色相]によって最高彩度の値が異なり、彩度の値が同じでも色の鮮やかさに違いが感じられることもあります。

## :WithGradeTag[マンセルの色立体]{grades="2"}

マンセル表色系では、色相によって最高彩度の値が異なるため、横方向にどれだけ広がるかが色相によって変化し、[色立体](/color-theory/color-wheel-and-color-solid/)は凸凹とした形になります。

:::Action
ドラッグ操作で回転させて、さまざまな角度から色立体を見てみよう
:::

<CanvasWrapper>
  <MunsellColorSolid3D />
</CanvasWrapper>

今後の技術の発展によって、より高い彩度の色を再現できるようになれば、色立体の形も変わっていく可能性があります。
色立体の形状がさまざまな方向に枝を生やしているように見えること、これがさらに樹木のように成長していく可能性を込めて、マンセル自身はこの色立体を:Anki[カラーツリー]（:Anki[色彩の樹]）と名付けています。

### 等色相面

色立体は中心軸の周りに:Anki[等色相面]を並べたものであるため、マンセル表色系では等色相面の広がり方が色相によって異なることも、色立体を回転させてみるとわかります。

### 等明度面

中心軸に対して垂直に交わるように、色立体を水平に切断して現れる平面には、色立体の中で同じ高さにある（:Anki[明度]が等しい）色が並ぶため、:Anki[等明度面]と呼ばれます。

等明度面の中心は:Anki[無彩色]軸で、同一円周上には:Anki[彩度]の等しい色が並びます。外側に行くほど:Anki[彩度]が高くなっていきます。

等明度面の形状は、色立体を上もしくは下から見てみるとわかります。
:Anki[最大彩度]が色相によって異なるマンセル表色系では、等明度面の円の外周は凸凹した形になります。

<SVGWrapper maxW={500}>
  <MunsellValue5Plane />
</SVGWrapper>

## :WithGradeTag[色の表示方法]{grades="2"}

マンセル表色系では、有彩色は:Anki[HV/C]と呼ばれる記法で表します。
色の三属性を表す数値や記号を「:Anki[Hue] :Anki[Value] / :Anki[Chroma]」という形式で並べたものです。

:::Example
色相が`5R`、明度が`3`、彩度が`8`の色は、:Anki[5R 3/8]と表され、「5R、3の8」と読みます。
:::

また、無彩色は、中性・中立を意味する:Anki[Neutral]の頭文字を使って、:Anki[N]の後に:Anki[明度]を表す数値をつけて表します。

:::Example
明度が`5`の無彩色は、:Anki[N5]と表されます。
:::

## :WithGradeTag[マンセル表色系の色票集]{grades="2"}

マンセル表色系の色票集として代表的なものは、次の2つです。

- :Anki[JIS標準色票]
- :Anki[Munsell Book of Color]

これらの色票集は、どちらも:Anki[40]色相を採用しています。
