---
layout: guide-content
title: XYZ表色系

grades: ["1"]

draft: true
---

実際の色光を基準としている[RGB表色系](/color-theory/rgb-color-system/)は、マイナスの混色量を使わなければ表せない色があり、扱いづらいものでした。
そこで、混色量が負の数にならずに済むように、数学的に変換してつくられた表色系が:Mark[XYZ表色系]です。

実際の色光 $$[R], [G], [B]$$ ではうまくいかなかったことから、XYZ表色系では、3つの仮想的な色光 $$[X], [Y], [Z]$$ を設定しています。

## :WithGradeTag[TODO]{grades="1"}
