---
layout: guide-content
title: PCCSによる色表示

grades: ["3"]
draft: true
---

<script>
  import SVGWrapper from "$lib/demo/SVGWrapper.svelte"
  import PCCSHueWheel from "$lib/demo/pccs/PCCSHueWheel.svelte"
</script>

## :WithGradeTag[PCCSの色相と色相環]{grades="3"}

<SVGWrapper maxW={500}>
  <PCCSHueWheel />
</SVGWrapper>
