---
layout: guide-content
title: 色相の自然連鎖

grades: ["2", "1"]

draft: true
---

## :WithGradeTag[TODO]{grades="2"}

- アメリカの自然科学者の:Mark[ルード]は、色の調和を自然光の下での色の見え方と関連付け、「同じ色でも光が当たっているところは明るく:Mark[黄]みがかって見え、影の部分は暗く:Mark[青]みがかって見える」とした
- ナチュラルハーモニーは、ジャッドの4つの原理のうち、:Mark[なじみの原理]に当てはまる
