---
layout: guide-content
title: 視細胞の種類と分布

grades: ["2", "3", "uc"]

draft: true
---

<script>
  import SVGWrapper from '$lib/demo/SVGWrapper.svelte';
  import PhotoreceptorDistribution from "$lib/demo/visual-system/PhotoreceptorDistribution.svelte"
  import SpectralSensitivityCurves from "$lib/demo/visual-system/SpectralSensitivityCurves.svelte"
</script>

## :WithGradeTag[視細胞の種類]{grades="3,uc"}

網膜で結ばれた像の情報は、網膜に分布する:Mark[視細胞]によって神経信号に変換されます。
視細胞には、明るさを感じる:Mark[杆体]細胞と、色を感じる:Mark[錐体]細胞の2種類があります。

:Mark[杆体]は高感度であり、わずかな光でも神経信号を出すことができるため、主に:Mark[暗い]ところで働きます。
一方、:Mark[錐体]は低感度であり、十分な光がないと神経信号を出すことができないため、主に:Mark[明るい]ところで働きます。

暗いところで色が見えにくいのは、十分な光がないと:Mark[錐体]が働かないためです。

### 3種類の錐体

杆体は1種類しかありませんが、錐体はどの波長の光を主に感じるかによって、さらに3種類に分けられます。

- :Mark[S錐体]：短波長の光（:Mark[青]色）を感じる
- :Mark[M錐体]：中波長の光（:Mark[緑]色）を感じる
- :Mark[L錐体]：長波長の光（:Mark[赤]色）を感じる

SはShort、MはMedium、LはLongの頭文字で、それぞれの錐体が感じる光の波長の長さを表しています。

これらの錐体が感じる色は:Mark[光の三原色]と対応しており、この3種類の錐体の反応の強さの組み合わせによって、私たちはさまざまな色を感じることができます。
どんな色も「赤・青・緑に対してどれくらい反応したか」で認識され、光の三原色（赤・緑・青）を混ぜる割合によってあらゆる色をつくることができるのは、この3種類の錐体があるからです。

## :WithGradeTag[視細胞の分布の偏り]{grades="3"}

錐体と杆体では、:Mark[杆体]の方が個数が多く存在します。

:Mark[杆体]は網膜全体に分布していますが、:Mark[錐体]は網膜の中心部にある:Mark[黄斑]に集中して分布しています。
黄斑の中心部である:Mark[中心窩]には、:Mark[錐体]だけが密集しており、ここには:Mark[杆体]は存在しません。

## :WithGradeTag[視細胞の分布のピークと盲点]{grades="2"}

杆体は:Mark[中心窩]には存在しませんが、その周辺には多く存在しています。杆体の分布のピークは、中心窩から約:Mark[20°]付近です。
一方、錐体の分布のピークは:Mark[中心窩]にあり、錐体は中心窩から約:Mark[10°]付近までの範囲に密集しています。

網膜から視神経の束が出ている:Mark[視神経乳頭]には、杆体も錐体も存在しません。
ここに像が結ばれても見えないため、この部位は:Mark[盲点]とも呼ばれています。

<SVGWrapper maxW={450}>
  <PhotoreceptorDistribution />
</SVGWrapper>

### 盲点を補う働き

このような視細胞の分布から、:Mark[中心窩]以外で見ると色の感度は低くなることがわかります。
しかし、実際の見え方では、視野の中心部分だけが色づいて見えることはなく、視野の一部（盲点）に穴が空いて見えることもありません。
これは、視細胞が周囲の情報が欠けた部分を埋めるように働くからであり、この働きを:Mark[フィル・イン]といいます。

## :WithGradeTag[錐体の感度のピーク]{grades="2"}

3種類の錐体は、それぞれ主に反応する波長が異なります。
それぞれの錐体の波長ごとの感度をグラフにしたものは、:Mark[分光感度]（:Mark[分光感度曲線]）と呼ばれます。

<SVGWrapper maxW={450}>
  <SpectralSensitivityCurves />
</SVGWrapper>

分光感度を見ると、それぞれの錐体が、どの波長域にどれくらいの感度を持っているかがわかります。

::::CardGrid{cols=1}
:::TermCard{title="S錐体"}

S錐体は、主に:Mark[短]波長域（:Mark[青]）の光に反応します。短波長域の:Mark[430]nm付近の感度が最も高く、中波長域になると急激に感度が下がるため、S錐体はほとんど青色のみを強く感じ取るといえます。
:::

:::TermCard{title="M錐体"}
M錐体は、主に:Mark[中]波長域（:Mark[緑]）の光に反応します。中波長域の:Mark[540]nm付近の感度が最も高くなります。
:::

:::TermCard{title="L錐体"}
L錐体は、主に:Mark[長]波長域（:Mark[赤]）の光に反応します。感度のピークは長波長寄りの:Mark[中]波長域にあります。
:Mark[M]錐体と重なっている波長域が多いため、L錐体は赤色だけでなく、:Mark[緑]色の光にもある程度反応します。特に、:Mark[中]波長域の光に対してはM錐体に近い感度を持っています。
:::
::::

## :WithGradeTag[視野と色に対する感度]{grades="2"}

視線を固定したときに見える範囲を:Mark[視野]といい、その中で色が識別できる範囲を:Mark[色視野]といいます。

- 色に対する感度は視野の中心で高い
- 色を識別できる範囲は、赤・緑・黄・青のうち、特に黄と青の範囲が広い
- 赤と緑の範囲よりも黄と青の範囲が広い。これは、錐体と桿体の分布の偏りを反映していると考えられる
- 青の色視野の広さには桿体細胞の分布が、黄の色視野の広さには錐体細胞の分布が関係している。黄の波長は500nm後半であり、これはM錐体もL錐体もカバーできる領域となるため、黄の色視野は広いと考えられる
