---
layout: guide-content
title: 視細胞の種類と分布

grades: ["2", "3", "uc"]
---

## :WithGradeTag[視細胞の種類]{grades="3,uc"}

網膜で結ばれた像の情報は、網膜に分布する:Mark[視細胞]によって神経信号に変換されます。
視細胞には、明るさを感じる:Mark[杆体]細胞と、色を感じる:Mark[錐体]細胞の2種類があります。

:Mark[杆体]は高感度であり、わずかな光でも神経信号を出すことができるため、主に:Mark[暗い]ところで働きます。
一方、:Mark[錐体]は低感度であり、十分な光がないと神経信号を出すことができないため、主に:Mark[明るい]ところで働きます。

暗いところで色が見えにくいのは、十分な光がないと:Mark[錐体]が働かないためです。

### 3種類の錐体

杆体は1種類しかありませんが、錐体はどの波長の光を主に感じるかによって、さらに3種類に分けられます。

- :Mark[S錐体]：短波長の光（:Mark[青]色）を感じる
- :Mark[M錐体]：中波長の光（:Mark[緑]色）を感じる
- :Mark[L錐体]：長波長の光（:Mark[赤]色）を感じる

SはShort、MはMedium、LはLongの頭文字で、それぞれの錐体が感じる光の波長の長さを表しています。

これらの錐体が感じる色は:Mark[光の三原色]と対応しており、この3種類の錐体の反応の強さの組み合わせによって、私たちはさまざまな色を感じることができます。
どんな色も「赤・青・緑に対してどれくらい反応したか」で認識され、光の三原色（赤・緑・青）を混ぜる割合によってあらゆる色をつくることができるのは、この3種類の錐体があるからです。

## :WithGradeTag[視細胞の分布の偏り]{grades="3"}

錐体と杆体では、:Mark[杆体]の方が個数が多く存在します。

:Mark[杆体]は網膜全体に分布していますが、:Mark[錐体]は網膜の中心部にある:Mark[黄斑]に集中して分布しています。
黄斑の中心部である:Mark[中心窩]には、:Mark[錐体]だけが密集しており、ここには:Mark[杆体]は存在しません。

## :WithGradeTag[視細胞の分布のピークと盲点]{grades="2"}

杆体は:Mark[中心窩]には存在しませんが、その周辺には多く存在しています。杆体の分布のピークは、中心窩から約:Mark[20°]付近です。
一方、錐体の分布のピークは:Mark[中心窩]にあり、錐体は中心窩から約:Mark[10°]付近までの範囲に密集しています。

網膜から視神経の束が出ている:Mark[視神経乳頭]には、杆体も錐体も存在しません。
ここに像が結ばれても見えないため、この部位は:Mark[盲点]とも呼ばれています。

### 盲点を補う働き

このような視細胞の分布から、:Mark[中心窩]以外で見ると色の感度は低くなることがわかります。
しかし、実際の見え方では、視野の中心部分だけが色づいて見えることはなく、視野の一部（盲点）に穴が空いて見えることもありません。
これは、視細胞が周囲の情報が欠けた部分を埋めるように働くからであり、この働きを:Mark[フィル・イン]といいます。

## :WithGradeTag[錐体の感度のピーク]{grades="2"}

<!-- 一問一答「視細胞の種類と分布」12問目から -->

::ComingSoon

## :WithGradeTag[視野と色に対する感度]{grades="2"}

::ComingSoon
