---
layout: guide-content
title: 測色の基本

grades: ["1"]

draft: true
---

## :WithGradeTag[測色とは]{grades="1"}

- 色は、錐体が光を受けたときに出力する信号に基づいて、:Mark[脳]がつくるもの
- この脳がつくる色（私たちが見ている色）の:Mark[表色値]（表色系で表したときの値）を求めることを:Mark[測色]という
- 次のように、さまざまな測色の方法が存在する

```mermaid
graph LR
    Root["測色"] --- A["視感測色"]
    Root --- B["物理測色"]
    
    %% 視感測色
    A --- Anki_A1["直接比較法"]
    A --- Anki_A2["混色法"]
    
    %% 物理測色
    B --- Anki_B1["刺激値直読法"]
    B --- Anki_B2["分光測色法"]
```

## :WithGradeTag[視感測色]{grades="1"}

- :Mark[視感測色]は、色を眼で見て表色値を求める方法

::::CardGrid{cols=1}
:::TermCard{title="視感測色のメリット"}
見た目通りに色を測ることができる
:::
:::TermCard{title="視感測色のデメリット"}
:Mark[個人差]があり、:Mark[疲労]や:Mark[環境]の影響を受けやすいため、測定の:Mark[再現]性が低い
:::
::::

- 視感測色には次のような手法がある
  - :Mark[直接比較法]：試料（サンプル）の色と基準色を比較する
  - :Mark[混色法]：複数の基本色を任意の比率で混合して、試料の色に一致させる

:::Note
:Mark[混色法]は、研究機関などで用いられる手法
:::

## :WithGradeTag[物理測色]{grades="1"}

- 光は色自体をもつわけではないが、色に関わる特性である波長や強さをもつ
- :Mark[物理測色]では、機器で測定した光の特性を、表色値に変換することで色を測定する

::::CardGrid{cols=1}
:::TermCard{title="物理測色のメリット"}
:Mark[物理]的な測定と:Mark[数値]的な処理によって行うため、測定の:Mark[再現]性が高い
:::
:::TermCard{title="物理測色のデメリット"}
得られた表色値と見た目の色との結びつきが十分ではない場合もある
:::
::::

- 物理測色には次のような手法がある
  - :Mark[刺激値直読法]：TODO
  - :Mark[分光測色法]：TODO

## :WithGradeTag[測色の対象]{grades="1"}

- 色は[物体色と光源色](/color-theory/how-color-works/)に分けられ、どちらも測色の対象となる
  - :Mark[光源色]：光源の出す光の色
  - :Mark[物体色]：光を反射・透過する物体の色

## :WithGradeTag[測色に影響を与える要素]{grades="1"}

- 反射による物体色を観察するには、物体を:Mark[照明]する必要がある
- 物体の色は、試料面に対する:Mark[照明光]と:Mark[観測者]の配置によって変わる
- この配置を:Mark[ジオメトリ]という

### 反射光の性質による影響

::ComingSoon
