---
layout: guide-content
title: ファッションカラー

grades: ["2"]

draft: true
---

## :WithGradeTag[定番色]{grades="2"}

- 毎シーズン繰り返し登場し、デザインや流行にかかわらず頻繁に使われる定番色を:Mark[ベーシックカラー]という
- ベーシックカラーは、具体的には:Mark[白]・:Mark[黒]・:Mark[グレイ]・:Mark[紺]・:Mark[ベージュ]などがある
- カジュアルブランドではベーシックカラーに:Mark[カーキー]が加わったり、メンズブランドでは:Mark[グレイ]の濃淡を数色加えて展開する場合がある

## :WithGradeTag[流行色]{grades="2"}

- その時代に注目される、新しくて斬新な色を:Mark[トレンドカラー]、流行している色を:Mark[流行色]という（これらの言葉は同じ意味で使われることもある）
- 日本では、日本流行色協会（:Mark[JAFCA]）がトレンドカラーの情報を毎年発表している
