---
layout: guide-content
title: 色覚タイプの分類

grades: ["2", "uc"]

draft: true
---

## :WithGradeTag[国内の色覚異常の割合]{grades="2,uc"}

- 遺伝により区別しづらい色域をもつ色覚特性の人は多く、日本人の場合、男性の約:Mark[5%]（:Mark[20]人に1人）、女性の約:Mark[0.2%]（:Mark[500]人に1人）が該当する。
- 男女合わせて、国内では:Mark[300万]人以上

## :WithGradeTag[世界の色覚異常の割合]{grades="uc"}

- 人種によっても違いがあり、黒人男性では:Mark[2]〜:Mark[4]%、白人男性は:Mark[6]〜:Mark[8]%が該当するといわれている
- 男女合わせて、世界では約:Mark[2億]人

## :WithGradeTag[色覚異常のタイプ]{grades="2,uc"}

- 3種類の:Mark[錐体]のうち、存在しないか機能しないものが1つ以上あると、多くの人にとっては違う色に見える色が、似たような色に見えて区別しづらくなる
- 錐体のうちのどれか1つのはたらきに問題がある色覚異常は、どの錐体に問題があるかによって3つの型に分類される。1型は:Mark[L]錐体、2型は:Mark[M]錐体、3型は:Mark[S]錐体が機能しないか、はたらきが弱いタイプである。
- 日本人男性の場合、1型が:Mark[1.5%]、2型が:Mark[3.5%]、3型は非常に少なくなっている
- そのため、色覚異常とは通常、1型色覚と2型色覚を指す
- それぞれの型で区別しづらい色に違いがあり、たとえば1型は:Mark[赤]色が見えにくくなるという特徴がある。

## :WithGradeTag[錐体の数や感度と色覚]{grades="uc"}

- n個の錐体をもつ場合の色覚タイプを:Mark[n色覚]という
- もっている錐体の数が少ないほど、色が見分けづらくなる

::::CardGrid{cols=1}
:::TermCard{title="正常色覚" ankiTitle="show"}
3種類の錐体の機能不全がないことから、学術用語では:Mark[正常3色覚]という
:::
:::TermCard{title="1型色覚" ankiTitle="show"}
:Mark[L]錐体の異常により起こる

- 1型:Mark[2色覚]：L錐体をもたない
- 1型:Mark[3色覚]：L錐体をもつが、その感度特性が:Mark[M]錐体に近い
:::
:::TermCard{title="2型色覚" ankiTitle="show"}
:Mark[M]錐体の異常により起こる

- 2型:Mark[2色覚]：M錐体をもたない
- 2型:Mark[3色覚]：M錐体をもつが、その感度特性が:Mark[L]錐体に近い
:::
:::TermCard{title="3型色覚" ankiTitle="show"}
:Mark[S]錐体の異常により起こるが、先天性は極めて稀
眼の病気を原因とした:Mark[後天性]の場合が多く、病気の回復によって色覚も元に戻る
:::
::::
