---
layout: guide-content
title: 黒体放射

grades: ["1"]

draft: true
---

## :WithGradeTag[TODO]{grades="1"}

- 色温度は、架空の理想的な黒い物質（:Anki[黒体]）を加熱し続けた時に変わっていく色をその温度で表したもので、2000K付近では:Anki[赤]みがかった色をしているが、そのまま数値が上がると:Anki[白]くなり、最終的に:Anki[青]に近くなっていく
